<template>
  <div class="validations">
    <template v-if="validations.$dirty && validations.$invalid">
      <p 
        v-if="validations.minLength != undefined && !validations.minLength"
        class="error"
      >A senha deve conter pelo menos {{validations.$params.minLength.min}} caracteres.</p>
      
      <p 
        v-if="validations.email != undefined && !validations.email"
        class="error"
      >Por favor, insira um endereço de e-mail válido.</p>

      <p 
        v-else-if="validations.required != undefined && !validations.required"
        class="error"
      >Campo obrigatório.</p>
     
      <p 
        v-else-if="validations.url != undefined && !validations.url"
        class="error"
      >Por favor, insira uma url válida! Urls devem iniciar com http:// ou https://</p>

      <p 
        v-else-if="validations.sameAsPassword != undefined && !validations.sameAsPassword"
        class="error"
      >A senha não corresponde a primeira senha.</p>

    </template>
  </div>
</template>

<script>
export default {
  name: 'BaseFormValidationMessages',
  props: {
    validations: {
      required: true
    }
  }
}
</script>

<style>

</style>