<template>
  <div class="container-fluid" :class="type">
    <BaseLogo />
  </div>
</template>

<script>
import BaseLogo from '@/components/BaseLogo';

export default {
  name: 'BaseHomeHeader',
  components: {
    BaseLogo
  },
  props: {
    type: {
      type: String,
      default: 'BarraTopo',
      validator: function (value) {        
        return ['BarraTopo', 'BarraTopoSembg', 'danger'].indexOf(value) !== -1
      }   
    }
  }
}
</script>

<style>

</style>