<template>
  <div class="form-group" 
    :class="{ 
      'is-invalid' : validations.$dirty && validations.$invalid 
    }"
  >
    <the-mask
      v-if="mask"
      :mask="mask"
      v-model.trim.lazy="validations.$model"
      class="form-control"
      :type="type"
      :placeholder="$attrs.placeholder"     
      @blur="touch(validations)"
    ></the-mask>
      <input 
        v-else
        v-model.trim.lazy="validations.$model"
        class="form-control"
        :type="type"
        :placeholder="$attrs.placeholder"     
        @blur="touch(validations)"
      >    
    <small 
      v-if="helperText"
      class="form-text text-muted ml-4">{{helperText}}</small>

    <BaseFormValidationMessages :validations="validations" />

  </div>
</template>

<script>
import BaseFormValidationMessages from '@/components/BaseFormValidationMessages'
import {TheMask} from 'vue-the-mask2'

export default {
  name : 'BaseFormInput',
  components: {
    BaseFormValidationMessages,
    TheMask
  },
  methods : {
    touch(el) {
      if (!el.$dirty) {
        el.$touch();
      }
    },
  },
  props: {
    validations: {
      required: true,
      type: Object
    },
    type: {
      type: String,
      default: 'text'
    },
    helperText : {
      type: String
    },
    mask: {
      type: [String, Array],
      default: ''
    }
  },

}
</script>

<style>

</style>