<template>
  <div>
    <transition name="fade">    
    <div 
      class="modal fade"
      v-show="$attrs.show"
      :class="{ show: $attrs.show, 'd-block': $attrs.show }"
      id="cadastrar" 
      tabindex="-1" 
      role="dialog"
      aria-labelledby="exampleModalLabel" 
      aria-hidden="true"
      @click.self="$emit('close')"
    >
      <div class="modal-dialog modalCadastro" role="document">
        <div class="modal-content modalBranca">
          <div class="modal-header text-center">
            <button type="button" @click="$emit('close')" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="w-75 mx-auto">
          <h1 class="text-center" id="exampleModalLabel">Cadastre-se</h1>
          <div class="modal-body mb-5">

            <button 
              type="submit" 
              class="btn btnLaranja text-center w-100 px-0"
              @click="navigateTo('paciente')"
              v-if="$attrs.type != 'paciente'"
            >Paciente</button>

            <button 
              type="submit" 
              class="btn btnLaranja text-center w-100 px-0 laranjaEspecialista"
              @click="navigateTo('profissional')"
              v-if="$attrs.type != 'profissional'"
            >Profissional de Saúde</button>

            <button 
              type="submit" 
              class="btn btnLaranja text-center w-100 px-0 laranjaClinica"
              @click="navigateTo('estabelecimento')"
              v-if="$attrs.type != 'estabelecimento'"
            >Estabelecimento de Saúde</button>
            
          </div>
          </div>
        </div>
      </div>
    </div>    
    </transition>
    <div class="modal-backdrop fade show" v-if="$attrs.show"></div>
  </div>
</template>

<script>
export default {
  name: 'BaseModalUserType',
  methods: {
    navigateTo: function(type) {
      this.$router.push(`/cadastro/${type}`);
      this.$emit('close');
    }
  }
}
</script>

<style>

</style>