<template>
  <router-link to="/dashboard">
    <img src="@/assets/img/logotipo-ponto-de-saude.png" width="163" height="65" alt=""/>
  </router-link>
</template>

<script>
export default {
  name: "BaseLogo"
}
</script>

<style>

</style>