<template>
  <div class="form-group" 
    :class="{ 
      'is-invalid' : validations.$dirty && validations.$invalid 
    }"
  >
    <input 
      v-model.trim.lazy="validations.$model"
      class="form-control"
      type="tel"
      v-mask="'#####-###'"
      :masked="false"
      :placeholder="$attrs.placeholder || 'CEP'"
      @blur="touch(validations)"
      v-on:keyup="buscar"
    >
    <small 
      v-if="helperText"
      class="form-text text-muted ml-4">{{helperText}}</small>

    <BaseFormValidationMessages :validations="validations" />

  </div>
</template>

<script>
import {mask} from 'vue-the-mask2'
import cep from 'cep-promise'
import BaseFormValidationMessages from '@/components/BaseFormValidationMessages'

export default {
  name: 'BaseFormCep',
  components: {
    BaseFormValidationMessages
  },
  data: () => ({
    loading : false
  }),
  methods : {
    touch(el) {
      if (!el.$dirty) {
        el.$touch();
      }
    },
    buscar(e) {      
            
      const value = e.target.value      

      if(!this.loading && /^[0-9]{5}-[0-9]{3}$/.test(value)){
        this.loading = true;
        cep(value)
          .then((response) => {
            this.$emit('onCep', response);
            this.loading = false;
          })
          .catch((error) => {            
            console.log(error);
            this.loading = false;
          })
      }
    }

  },
  props: {
    validations: {
      required: true,
      type: Object
    },
    type: {
      type: String,
      default: 'text'
    },
    helperText : {
      type: String
    }
  },  
  directives: {mask}
}
</script>

<style>

</style>