<template>
  <form @submit.prevent="submit()">

    <BaseFormEstabelecimentoItem
      v-for="(item, index) in estabelecimentos"
      :index="index"
      :key="index"
      ref="estabelecimentos"
    />

    <div class="form-group text-center mt-5">
    <div class="text-center smallLink cinza">A clínica possui mais unidades? <strong>Adicione mais endereços.</strong></div>
      <button
        @click="++estabelecimentos"
        class="btn btnLaranja btnAzul">Adicionar Endereço <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btnLaranja">Continuar <i class="fas fa-chevron-right"></i></button>
    </div>
  </form>
</template>

<script>
import { USER_TYPES } from '../models/enums'
import BaseFormInput from '@/components/BaseFormInput'
import BaseFormCep from '@/components/BaseFormCep'
import BaseFormEstabelecimentoItem from '@/components/BaseFormEstabelecimentoItem'

export default {
  name: 'BaseFormEstabelecimento',
  components: {
    BaseFormEstabelecimentoItem
  },
  data: () => ({
    estabelecimentos : 1,
  }),
  methods: {

    submit() {      

      // Prevent resubmit
      if (this.loading) {
        return;
      }

      this.loading = true;
      
      this.$refs.estabelecimentos.map((item => {
        item.submit();
      }))

      // if (this.$v.$invalid) {
      //   this.$v.$touch();
      //   this.loading = false;
      //   return;
      // }

      // this.$store.dispatch('onboarding/addData', this.f)
      // this.$router.push({name: 'onboarding-enderecos'})

    }, // submit

  },
}
</script>

<style>

</style>