<template>
  <div class="estabelecimento">
    <h2 class="mt-5">Endereço {{++$attrs.index}}</h2>
    
    <BaseFormInput :validations="$v.f.post_title" :placeholder="namePlaceholder"/>
    
    <div class="form-row align-items-center">
      <div class="col-md-4 mb-2">        
        <BaseFormCep :validations="$v.f.cep" @onCep="fillAdress" />
      </div>
      <div class="col-md-4 mb-2">
        <a href="#" class="azulLink"><small><strong>Não sei o CEP</strong></small></a>
      </div>
    </div>
    <BaseFormInput :validations="$v.f.logradouro" placeholder="Logradouro, Rua, Avenida"/>
    <div class="form-row">
      <div class="col-md-4 mb-2">
        <BaseFormInput :validations="$v.f.numero" placeholder="Número"/>
      </div>
      <div class="col-md-8 mb-2">
        <BaseFormInput :validations="$v.f.bairro" placeholder="Bairro"/>
      </div>
    </div>
    <BaseFormInput :validations="$v.f.cidade" placeholder="Cidade"/>

    <div class="form-row">
      <div class="col-md-4 mb-2">
        <BaseFormInput :validations="$v.f.estado" placeholder="Estado"/>
      </div>
      <div class="col-md-8 mb-2">
        <BaseFormInput :validations="$v.f.complemento" placeholder="Complemento"/>
      </div>
    </div>
    <h2 class="mt-5">Localização</h2>
    <iframe class="todo" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14742.513089427117!2d-44.1245426!3d-22.518126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1572185996838!5m2!1spt-BR!2sbr" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <h2 class="mt-5">Contato</h2>
    
    <div 
      class="form-row align-items-start mb-2"
      v-for="(v, index) in $v.f.contatos.$each.$iter"
      :key="`contatos-${index}`"
    > 
      <div class="col mb-2">
        <BaseFormInput 
          :validations="v.value" 
          :placeholder="`Telefone ${Number(index) + 1}`"
          :mask="['(##) ####-####', '(##) #####-####']"
        />
      </div>
      <div class="form-check mx-4 mt-3">
        <input 
          class="form-check-input" 
          type="checkbox" 
          @click="handlePrincipal('defaultContato', index)"
          :checked="f.defaultContato == index"
          :id="`principal-contato-${index}`"
        >
        <label class="form-check-label" :for="`principal-contato-${index}`">
          <small><strong>Principal</strong></small>
        </label>
      </div>
      <div class="adicionar mb-2 mt-2">
        <i
          v-if="index == 0" 
          @click="addRow('contatos', ++index)" 
          class="fas fa-plus-circle"></i>      
        <i
          v-else
          @click="deleteRow('contatos', index)" 
          class="fas fa-minus-circle"></i>
        
      </div>
    </div>

    <h2 class="mt-5">Whatsapp</h2>
    <div 
      class="form-row align-items-start mb-2"
      v-for="(v, index) in $v.f.whatsapps.$each.$iter"
      :key="`whats-${index}`"
    > 
      <div class="col mb-2">
        <BaseFormInput 
          :validations="v.value" 
          :placeholder="`Telefone ${Number(index) + 1}`"
          :mask="['(##) ####-####', '(##) #####-####']"
        />
      </div>
      <div class="form-check mx-4 mt-3">
        <input 
          class="form-check-input" 
          type="checkbox" 
          @click="handlePrincipal('defaultWhatsapp', index)"
          :checked="f.defaultContato == index"
          :id="`principal-whatsapp-${index}`"
        >
        <label class="form-check-label" :for="`principal-whatsapp-${index}`">
          <small><strong>Principal</strong></small>
        </label>
      </div>
      <div class="adicionar mb-2 mt-2">
        <i
          v-if="index == 0" 
          @click="addRow('whatsapps', ++index)" 
          class="fas fa-plus-circle"></i>      
        <i
          v-else
          @click="deleteRow('whatsapps', index)" 
          class="fas fa-minus-circle"></i>
        
      </div>
    </div>

    <h2 class="mt-5">Convênios</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Convênios">
    </div>
  </div>  
</template>

<script>
import { USER_TYPES } from '../models/enums'
import BaseFormInput from '@/components/BaseFormInput'
import BaseFormCep from '@/components/BaseFormCep'
import { validationMixin } from 'vuelidate'
import { required, minLength } from 'vuelidate/lib/validators'

export default {
  name: 'BaseFormEstabelecimento',
  components: {
    BaseFormInput,
    BaseFormCep
  },
  data: () => ({
    f: {
      post_title : '',
      cep: '',
      logradouro: '',
      cidade: '',
      numero: '',
      bairro: '',
      estado: '',
      complemento: '',
      contatos: [
        { value: ''}
      ],
      whatsapps: [
        { value: ''}
      ],
      defaultContato: 0, 
      defaultWhatsapp: 0, 
    }
  }),
  methods: {

    submit() {
      
      // Prevent resubmit
      if (this.loading) {
        return;
      }

      this.loading = true;
      
      if (this.$v.$invalid) {
        this.$v.$touch();
        this.loading = false;
        return;
      }

      this.$store.dispatch('onboarding/addData', this.f)
      this.$router.push({name: 'onboarding-enderecos'})

    }, // submit

    fillAdress(val) {
      
      const keys = {
        // keyACFWordPressVue : keyApi        
        logradouro: 'street',
        estado : 'state',
        cidade: 'city',
        bairro: 'neighborhood'
      };

      Object.keys(keys).map(keyVue => {
        const keyApi = keys[keyVue]
        const value = val[keyApi]
        if (value) {
          this.f[keyVue] = value
        }
      })
    },
    addRow(prop, index) {
      this.f[prop].push({ value: '', principal: false })      
    },
    deleteRow(prop, index) {
      this.f[prop] = this.f[prop].filter((val, indexArray) => {
        return index != indexArray
      })
    },
    handlePrincipal(prop, index, oi) {
      this.f[prop] = index;
    }
  },  
  computed: {
    namePlaceholder() {
      return this.$store.getters['auth/userType'] == USER_TYPES.ESTABELECIMENTO ? 'Nome do Consúltorio' : 'Nome do local de atendimento';
    }
  },
  validations: {
    f: {
      post_title : {
        required
      },
      cep: {
        required,
        minLength: minLength(9)
      },
      logradouro: {
        required
      },
      cidade: {
        required
      },
      numero: {
        required
      },
      bairro: {
        required
      },
      estado: {
        required
      },
      complemento: {

      },
      contatos: {
        required,
        $each: {
          value: {
            required
          }
        }
      },
      whatsapps: {
        required,
        $each: {
          value: {
            required
          }
        }
      }
    }
  },
  mixins: [validationMixin]
}
</script>

<style>

</style>