<template>
  <div class="card mb-4 customCard" style="max-width: 540px;">
    <div class="row no-gutters align-items-center">
      <div class="col-2">
        <img src="@/assets/img/ico.png" class="card-img" alt="...">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title mb-1">{{ $attrs.card.title }}</h5>
          <p class="card-text mt-0">{{ $attrs.card.desc }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name : 'BaseHomeCard'
}
</script>