<template>
  <div class="col-sm text-center d-none d-sm-block" :class="{ 'marcado' : status}">
    <div>{{step}}</div>
    <small class="texto">
      <strong>{{title}}</strong>
    </small>
  </div>
</template>

<script>
export default {
  name: 'BaseStep',
  props: {
    step: {
      type: Number,
      required: true
    },
    title: String,
    status: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>

</style>