<template>
  <div class="flex-grow-1 text-right">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star desativado"></i>
  </div>
</template>

<script>
export default {
  name: 'CommentStars',
  props: {
    rate: {
      required: true,
      type: Number
    }
  }
}
</script>

<style>

</style>