<template>
  <div class="row timeLine" v-if="steps">
    <BaseStep 
      v-for="(step, index) in steps"
      :title="step.title"
      :step="++index"
      :key="index"
    />      
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import BaseStep from '@/components/BaseStep'

export default {
  name: 'OnboardingSteps',
  data: () => ({
    steps: false
  }),
  components: {
    BaseStep
  },
  created() {        
      
    if (this.userType == 'estabelecimento') {
      this.steps = [
        {title: 'Estabelecimento de Saúde'},
        {title: 'Endereço'},
        {title: 'Horários'},
        {title: 'Serviços'},
      ]
    } else {
      this.steps = [
        {title: 'Meus Dados'},
        {title: 'Endereço'},
        {title: 'Sobre mim'},
        {title: 'Fotos e Especialidade'},
      ]      
    }

  },
  computed: {
    ...mapGetters({
      userType: 'auth/userType'
    })    
  }
}
</script>

<style>

</style>