<template>
  <div class="dashboardContent col-lg-9 col-md-12 col-sm-12">
    <h2 class="mt-0">Dados da Conta</h2>
    <div class="boxDashboard caixaBranca d-flex flex-column flex-md-row flex-sm-row">
      
      <div class="todo">

        <div class="d-flex justify-content-center">
          <div class="dashboardIMGperfil mb-2" style="background-image: url(img/perfil-medico.jpg)">
            <div class="dashboardIMGperfilLabel d-flex align-items-center justify-content-center flex-column">
              <div><i class="fas fa-pencil-alt"></i></div>
              <div><p>Alterar Foto</p></div>
            </div>
          </div>
        </div>

        <div class="cinzaClaro text-center mb-4">
          <small>
            <strong>Alterar foto do perfil</strong>
          </small>
        </div>
      </div>

      <div class="col">
        
        <UserFormData ref="userForm" />
      
      </div>
      
    </div>

    <div class="form-group mt-5">

      <button 
        @click="formSubmit"
        class="btn btnLaranja"
      >
        Salvar 
        <i class="fas fa-angle-right"></i>
      </button>
      <button 
        @click="formReset"
        class="btn btnLaranja btnCinza"
      >
        Cancelar 
        <i class="fas fa-times"></i>
      </button>

    </div>

  </div>
  
</template>

<script>
import UserFormData from '@/components/UserFormData';

export default {
  name: 'DashboardMyAccount',
  components: {
    UserFormData
  },
  methods: {
    formSubmit() {
      this.$refs.userForm.submit();
    },
    formReset() {
      this.$refs.userForm.resetForm();
    }
  }
}
</script>

<style>

</style>