<template>
  <div class="">
    <BaseHomeHeader />
    <div class="container">
      <OnboardingSteps />      
      <transition name="fade">
        <router-view/>
      </transition>      
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import OnboardingSteps from '@/components/DashboardOnboardingSteps'
import BaseHomeHeader from '@/components/BaseHomeHeader.vue'

export default {
  components: {
    OnboardingSteps,
    BaseHomeHeader
  },
  computed: {
    ...mapGetters({
      userType: 'auth/userType'
    })
  }
}
</script>

<style>

</style>