<template>
  <div class="barraTopoDash w-100 pl-5 pt-3 pb-3 d-flex justify-content-between">
    <div class="row no-gutters align-items-center">
      <div class="menuBurger pr-4 mr-5 ml-n3 border-right d-none d-sm-block d-md-none d-block d-sm-none">
        <i class="fas fa-bars"></i>
      </div>
      <div>
        <img src="img/perfil-medico.jpg" alt="" class="fotoPerfil todo"/>
      </div>
      <div class="perfilNomeFuncao d-none d-md-block d-lg-block d-xl-block">
        <strong>{{name}}</strong><br> {{role}}
      </div>
    </div>
    <div class="row no-gutters align-items-center pr-4">
      <button 
         @click="$emit('logout')"
        type="submit" 
        class="btn topoSair">
        SAIR <i class="fas fa-times"></i></button>
    </div>
  </div>
</template>

<script>
import store from '@/store';

export default {
  name: "DashboardHeader",
  computed: {
    name() {
      return store.state.auth.user.data.display_name
    },
    role() {
      return store.state.auth.user.meta.nickname
    }
  }
}
</script>

<style>

</style>