<template>  
  <!-- CONTEÚDO DO MEIO -->
  <div class="dashboardContent col-lg-9 col-md-12 col-sm-12 mb-5">
    <h2>Alterar Senha</h2>
    <div class="caixaBranca boxDashboard my-4">
      <form 
        @submit.prevent="submit" :class="{ 'loading' : loading }"
        novalidate="true"
      >

        <div 
          v-if="message"
          class="alert"
          :class="{ [`alert-${messageType}`] : true }"
          role="alert"
        >
          {{ message }}
        </div>

        <BaseFormInput
          :validations="$v.form.currentPassword"
          type="password" 
          placeholder="Senha Atual" 
        />
        
        <BaseFormInput
          :validations="$v.form.password"
          type="password" 
          placeholder="Nova senha" 
        />
        
        <BaseFormInput
          :validations="$v.form.passwordConfirmation"
          type="password" 
          placeholder="Repita a nova senha" 
        />

        <div class="form-group">
          <button @click="submit()" class="btn btnLaranja">Salvar <i class="fas fa-chevron-right"></i></button>
          <button @click="reset()" class="btn btnLaranja btnCinza">Cancelar <i class="fas fa-times"></i></button>
        </div>
      </form>
    </div>
  </div>  
</template>

<script>
import BaseFormInput from '@/components/BaseFormInput'
import { userFormValidation } from '@/models/user.model'
import { validationMixin } from 'vuelidate'
import userService from '@/services/user.service';

export default {
  name: 'DashboardMyAccount',
  data: () => ({
    form : {
      currentPassword : '',
      password : '',
      passwordConfirmation: ''
    },
    message : false,
    loading : false
  }),
  components: {
    BaseFormInput
  },
  methods: {
    submit() {
      // Prevent resubmit
      if (this.loading) {
        return;
      }

      this.loading = true;
      this.message = false;
      
      if (this.$v.$invalid) {
        this.$v.form.$touch();
        this.loading = false;
        return;
      }      

      let payload = { ...this.form };

      userService.updatePassword(payload)
      .then(
        (response) => {            
          this.loading = false;
          this.form = {};
          this.$v.form.$reset();
          this.message = response.data.message;
          this.messageType = 'success';
        })
      .catch(
        error => {
          this.loading = false;
          this.message = error.response.data.message;
          this.messageType = 'danger';
        }
      );

    },
    reset() {
      this.form = {};
      this.$v.$reset();
      this.message = false;
    }
  },
  validations : {
    form : {
      currentPassword: userFormValidation.password,
      password : userFormValidation.password,
      passwordConfirmation : userFormValidation.passwordConfirmation
    }
  },
  mixins: [validationMixin]
}
</script>

<style>

</style>