<template>
  
  <div class="menuDashboard d-inline-block h-100 position-fixed overflow-auto">
    
    <div class="text-center mt-5 mb-5">
      <BaseLogo />    
    </div>

    <div class="btn-group-vertical w-100" role="group" aria-label="Button group with nested dropdown">

      <router-link :to="{ name: 'dashboard-my-account' }" class="btn menuBtn"> 
        Dados da Conta
      </router-link>
      
      <router-link :to="{ name: 'dashboard-change-pass' }" class="btn menuBtn"> 
        Alterar Senha
      </router-link>
      
      <router-link :to="{ name: 'dashboard-reviews' }" class="btn menuBtn"> 
        Avaliações
      </router-link>

    </div>

    <div class="mt-5 mb-5 px-3 w-auto">
      <button type="button" class="btn menuSair w-100" @click="$emit('logout')">SAIR</button>
    </div>

	</div>

</template>

<script>

import BaseLogo from '@/components/BaseLogo';

export default {
  name: 'DashboardSidebar',
  components: {
    BaseLogo
  }
}
</script>

<style>

</style>