<template>

  <div class="dashboardContent col-lg-9 col-md-12 col-sm-12 mb-5">

    <h2 class="mt-0">Minhas Avaliações</h2>

    <template v-if="comments">
      <div v-for="(comment, index) in comments" :key="index" class="caixaBranca boxDashboard my-4">
        <div class="d-flex align-items-center mb-3 flex-column flex-sm-row">
          <div>
            <a :href="comment.url" target="_blank">
              <h3 class="m-0">{{comment.title}}</h3>
            </a>
          </div>

          <div class="diaHora w-auto mx-4">
            {{comment.date}}
          </div>

          <CommentStars :rate="+comment.rate" />
        </div>

        <p class="m-0 mb-3">{{comment.content}}</p>
        <div v-if="comment.reply" class="border-left pl-4 pr-5">
          <p class="m-0 cinza">
            <strong>{{comment.reply.content}}</strong>
          </p>
        </div>

      </div>
    </template>

  </div>
</template>

<script>
import CommentStars from '@/components/CommentStars.vue'
import commentsService from '@/services/comments.service'

export default {
  name: 'DashboardMyComments',
  data: () => ({
    comments : false,
    teste: '',
    teste2: '',
  }),  
  components: {
    CommentStars
  },
  created() {
    this.fetchComments();
  },
  methods: {
    fetchComments() {
      commentsService.getByUser().then(
        res => {
          const comments = res.data.comments;
          if (comments.length > 0) {
            this.teste2 = 'teste2';
            this.comments = comments;
          }
        },
        err => {
          console.log('err', err)
        }
      )
    }
  }
}
</script>

<style>

</style>