<template>
  <div class="dashboardContent p-5">
    <h2>Últimas Atualizações</h2>
    <div class="caixaBranca boxDashboard p-0 todo">
    <div class="linhaAtualizacoes row d-flex justify-content-between mx-0">
      <div style="width:30px"><i class="fas fa-star"></i></div>
      <div class="col"><strong>Nova Avaliação</strong> - 4 estrelas</div>
      <div class="diaHora">11/10/2019 - 10:45</div>
    </div>
    <div class="linhaAtualizacoes row d-flex justify-content-between mx-0">
      <div style="width:30px"><i class="fas fa-star"></i></div>
      <div class="col"><strong>Nova Avaliação</strong> - 4 estrelas</div>
      <div class="diaHora">11/10/2019 - 10:45</div>
    </div>
    <div class="linhaAtualizacoes row d-flex justify-content-between mx-0">
      <div style="width:30px"><i class="fas fa-envelope"></i></div>
      <div class="col"><strong>Nova Avaliação</strong> - 4 estrelas</div>
      <div class="diaHora">11/10/2019 - 10:45</div>
    </div>
    <div class="linhaAtualizacoes row d-flex justify-content-between mx-0">
      <div style="width:30px"><i class="fas fa-envelope"></i></div>
      <div class="col"><strong>Nova Avaliação</strong> - 4 estrelas</div>
      <div class="diaHora">11/10/2019 - 10:45</div>
    </div>
    <div class="linhaAtualizacoes row d-flex justify-content-between mx-0">
      <div style="width:30px"><i class="fas fa-star"></i></div>
      <div class="col"><strong>Nova Avaliação</strong> - 4 estrelas</div>
      <div class="diaHora">11/10/2019 - 10:45</div>
    </div>
    </div>
    <h2 class="mt-5">Suporte</h2>
    <div class="estatisticasDashboardHome bannerBranco col">
      <div class="titulo">Está com alguma dúvida?</div>
      <p>Fale agora com nosso suporte.</p>
      <button type="submit" class="btn btnLaranja">Falar com suporte <i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DashboardHome'
}
</script>

<style>

</style>