<template>
  <div>
    <template v-if="userType == USER_TYPES.ESTABELECIMENTO">
      <OnboardingFormDadosEstabelecimento />
    </template>
    <template v-else>
      <OnboardingFormDadosProfissional />
    </template>		
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { USER_TYPES } from '../models/enums'
import OnboardingFormDadosEstabelecimento from '@/components/OnboardingFormDadosEstabelecimento'
import OnboardingFormDadosProfissional from '@/components/OnboardingFormDadosProfissional'

export default {
  name: 'OnboardingFormDados',
  data: () => ({
    USER_TYPES : USER_TYPES
  }),
  components: {
    OnboardingFormDadosEstabelecimento,
    OnboardingFormDadosProfissional
  },
  computed: {
    ...mapGetters({
      userType: 'auth/userType'
    }),    
  }
}
</script>

<style>

</style>