<template>
  <div class="caixaBranca col-lg-8 col-md-12 col-sm-12 mx-auto my-5">
		<h1 class="cinza text-center marginH1">
      {{pageTitle}}
    </h1>
    <form @submit.prevent="onSubmit()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome da Clínica">
      </div>
      
      <h2 class="mt-5">Site e e-mail</h2>
      <div class="form-group">
        <input type="url" class="form-control" placeholder="Site">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="E-mail">
      </div>
      
      <h2 class="mt-5">Redes Sociais</h2>
      <div class="form-group">
        <input type="url" class="form-control" placeholder="Facebook">
      </div>
      
      <div class="form-group">
        <input type="url" class="form-control" placeholder="Instagram">
      </div>
      <div class="form-group">
        <input type="url" class="form-control" placeholder="Linkedin">
      </div>
      <div class="form-group text-center mt-5">
        <button type="submit" class="btn btnLaranja">
          Continuar <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { USER_TYPES } from '../models/enums'

export default {
  name: 'OnboardingFormDados',
  data: () => ({
    
  }),
  created() {    
  },
  computed: {
    ...mapGetters({
      userType: 'auth/userType'
    }),
    pageTitle() {
      return this.userType == USER_TYPES.ESTABELECIMENTO ? 'Dados do Estabelecimento de Saúde' : 'Dados do Profissional';
    }
  }
}
</script>

<style>

</style>