<template>  
	<div class="caixaBranca col-lg-8 col-md-12 col-sm-12 mx-auto my-5">
    
    <h1 class="cinza text-center marginH1">
      {{pageTitle}}
    </h1>
    
    <BaseFormEstabelecimento />
    <!-- <form @submit.prevent="submit()">

      <BaseFormInput :validations="$v.f.post_title" placeholder="Nome da Clínica" />
      
      <h2 class="mt-5">Site e e-mail</h2>
      <BaseFormInput :validations="$v.f.site" placeholder="Site" />
      <BaseFormInput :validations="$v.f.email" type="email" placeholder="E-mail" />      
      
      <h2 class="mt-5">Redes Sociais</h2>
      <BaseFormInput :validations="$v.f.facebook" placeholder="Facebook" />
      <BaseFormInput :validations="$v.f.instagram" placeholder="Instagram" />
      <BaseFormInput :validations="$v.f.linkedin" placeholder="Linkedin" />
            
      <div class="form-group text-center mt-5">
        <button type="submit" class="btn btnLaranja">
          Continuar <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </form> -->
  </div>  
</template>

<script>
import { USER_TYPES } from '../models/enums'
import BaseFormEstabelecimento from '@/components/BaseFormEstabelecimento'
import { validationMixin } from 'vuelidate'
import { required, email, minLength, url } from 'vuelidate/lib/validators'
import store from '@/store'

export default {
  name: 'OnboardingFormDadosEstabelecimento',
  components: {
    BaseFormEstabelecimento
  },
  data: () => ({
    loading: false,
    f: {
      post_title : '',
      email: '',
      facebook : '',
      instagram : '',
      linkedin : ''
    }
  }),
  methods: {
    
    submit() {
      
      // Prevent resubmit
      if (this.loading) {
        return;
      }

      this.loading = true;
      
      if (this.$v.$invalid) {
        this.$v.$touch();
        this.loading = false;
        return;
      }

      this.$store.dispatch('onboarding/addData', this.f)        

    } // submit
  },
  computed: {
    pageTitle() {
      // return this.$store.getters['auth/userType'] == USER_TYPES.E
      return 'Endereços'
    }
  },
  validations: {
    f: {
      post_title : {
        required,
        minLength: minLength(3)
      },
      site: {
        url
      },
      email: {
        required,
        email
      },
      facebook: {
        url
      },
      instagram: {
        url
      },
      linkedin: {
        url
      }
    }
  },
  mixins: [validationMixin]
}
</script>

<style>

</style>