<template>
  <form 
    @submit.prevent="submit" :class="{ 'loading' : loading }"
    novalidate="true"
  >

    <div 
      v-if="errorMessage"
      class="alert alert-danger" 
      role="alert"
    >
      {{ errorMessage }}
    </div>
    
    <BaseFormInput 
      :validations="$v.form.name" 
      :placeholder="namePlaceholder" 
    />
       
    <BaseFormInput 
      v-if="type == 'paciente'"
      :validations="$v.form.nickname" 
      placeholder="Apelido" 
    />
       
    <BaseFormInput 
      v-if="type == 'estabelecimento'"
      :validations="$v.form.jobrole" 
      placeholder="Cargo" 
    />         
       
    <BaseFormInput 
      :validations="$v.form.email"
      type="email" 
      placeholder="E-mail" 
    />
    
    <BaseFormInput 
      :validations="$v.form.password"
      type="password" 
      placeholder="Senha" 
    />    
    
    <BaseFormInput 
      :validations="$v.form.passwordConfirmation"
      type="password" 
      placeholder="Confirme sua senha" 
    />    

    <div class="form-check mt-3 mb-5">
      <input class="form-check-input" type="checkbox" v-model="form.termos" id="check">
      <label class="form-check-label smallLink cinza pointer" for="check">
        Declaro que li e aceito os <a href="https://pontodesaude.com.br/termos-de-uso/" target="_blank" class="cinza">Termos de Uso</a> e condições,  <br>e a <a href="https://pontodesaude.com.br/politicas-de-privacidade/" target="_blank" class="cinza">Política de Privacidade</a> do Ponto de Saúde.
      </label>
      <p v-if="loading && $v.form.termos.$invalid">Por favor, aceite os termos de uso.</p> 
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btnLaranja">Cadastrar Gratuitamente <i class="fas fa-chevron-right"></i></button>
    </div>
    <p class="cinza mt-4 text-center"><strong>Já é cadastrado? <router-link to="/login" class="laranjaLink">Clique aqui para entrar</router-link></strong>
    </p>
  </form>
</template>

<script>
import BaseFormInput from './BaseFormInput'
import { validationMixin } from 'vuelidate'
import { USER_TYPES } from '../models/enums'
import axios from "axios"
import { userFormValidation } from '@/models/user.model'

export default {

  name : 'UserRegisterForm',
  components: {
    BaseFormInput
  },
  data: () => ({
    errorMessage: false,
    loading: false,
    namePlaceholder : 'Nome',
    form: {
      email: 'spam@lincolnlemos.com',      
      name: 'Lincoln',
      password: '12345678',
      passwordConfirmation: '12345678',
      termos: true,
    },
  }),

  computed: {
    reqData : function() {
      return {
        username: this.form.email,
        email: this.form.email,
        password: this.form.password,
      }
    },
  },

  watch: {
    type: function(val) {
      this.resetForm()
      if (USER_TYPES.ESTABELECIMENTO == val) {
        this.namePlaceholder = 'Nome do responsável';
      } else {
        this.namePlaceholder = 'Nome completo';
      }      
    }
  },

  methods: {

    submit() {
      
      // Prevent resubmit
      if (this.loading) {
        return;
      }

      this.loading = true;
      this.errorMessage = false;
      
      if (this.$v.$invalid) {
        this.$v.form.$touch();
        this.loading = false;
        return;
      }
      
      let registerData = { ...this.form };
      registerData.type = this.type;

      this.$store.dispatch('auth/register', registerData )
        .then(
          () => {            
            this.$router.push('/dashboard');
          },
          error => {
            this.loading = false;
            this.errorMessage = error.message;
          }
        );

    },
    
    touch(el) {
      if (!el.$dirty) {
        el.$touch();
      }
    },

    resetForm() {
      const keys = Object.keys(this.form);
      keys.map(key => {
        this.form[key] = '';
      });
    }
  },
  mixins: [validationMixin],
  props: {
    type: {
      validator: function (value) {       
        return ['paciente', 'profissional', 'estabelecimento'].indexOf(value) !== -1
      }
    }
  },
  validations: {
    form: userFormValidation
  }
}
</script>

<style>

</style>