<template>
  <div class="userloginfo">
    <form 
      @submit.prevent="submit"
      :class="{ 'loading' : loading }"
      novalidate="true"
    >

      <div 
        v-if="errorMessage"
        class="alert alert-danger" 
        role="alert"
        v-html="errorMessage"
      ></div>

      <BaseFormInput 
        :validations="$v.form.email" 
        type="email" 
        placeholder="E-mail" 
      />

      <BaseFormInput 
        :validations="$v.form.password" 
        type="password"
        placeholder="Senha" 
      />      
      
      <div class="form-group text-center">
        <button 
          type="submit" 
          class="btn btnLaranja">
          Entrar <i class="fas fa-chevron-right"></i>
        </button> 
      </div>

      <div class="text-center smallLink todo">
        <router-link to="recuperar-senha" class="azulLink">Esqueci minha senha</router-link>          
      </div>

      <div class="divisorOU text-center">
        <strong>OU</strong>
      </div>

      <div class="text-center form-group todo">
        <button type="submit" class="btn btnLaranja btnFacebook text-left">
          <i class="fab fa-facebook-f"></i> Entrar com Facebook
        </button>
      </div>

      <div class="text-center form-group todo">
        <button type="submit" class="btn btnLaranja btnGoogle text-left">
          <i class="fab fa-google"></i> Entrar com Google
        </button>
      </div>
      
      <div class="text-center smallLink cinza">
        Não possui cadastro? <a href="#" class="cinza" @click="$emit('showmodal')">Cadastre-se</a>
      </div>

    </form>    
  </div>
</template>

<script>

import BaseFormInput from '@/components/BaseFormInput'
import { validationMixin } from 'vuelidate'
import { required, sameAs, email, minLength } from 'vuelidate/lib/validators'

export default {
  name: 'UserLoginForm',
  components: {
    BaseFormInput
  },
  data: () => ({    
    errorMessage: false,
    loading: false,
    form: {
      email: '',
      password: ''
    }
  }),

  methods: {
    submit() {
      // Prevent resubmit
      if (this.loading) {
        return;
      }

      this.loading = true;
      
      if (this.$v.$invalid) {
        this.$v.form.$touch();
        this.loading = false;
        return;
      }

      this.$store.dispatch('auth/login', this.form)
        .then(
          () => {
            this.$router.push('/dashboard');
          },
          error => {
            console.log('error', error);
            this.loading = false;
            this.errorMessage = error.message;
          }
        );
    },
    
    touch(el) {
      if (!el.$dirty) {
        el.$touch();
      }
    },

  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(8)
      },
    }
  },
  mixins : [validationMixin]

}
</script>

<style>

</style>