<template>
  <form
    @submit.prevent="submit" :class="{ 'loading' : loading }"
    novalidate="true"
  >
    <div 
      v-if="message"
      class="alert"
      :class="{ [`alert-${messageType}`] : true }"
      role="alert"
    >
      {{ message }}
    </div>

    <BaseFormInput 
      :validations="$v.form.name" 
      :placeholder="namePlaceholder" 
    />
       
    <BaseFormInput 
      v-if="type == 'paciente'"
      :validations="$v.form.nickname"
      helperText="Este é o nome que aparecerá quando você avaliar um médico."
      placeholder="Apelido" 
    />
       
    <BaseFormInput 
      v-if="type == 'estabelecimento'"
      :validations="$v.form.jobrole" 
      placeholder="Cargo" 
    />         
       
    <BaseFormInput 
      :validations="$v.form.email"
      type="email" 
      placeholder="E-mail" 
    />
       
    <BaseFormInput 
      :validations="$v.form.phone"       
      placeholder="WhatsApp ou Telefone"
    />

  </form>  
</template>

<script>

import BaseFormInput from '@/components/BaseFormInput'
import { userFormValidation } from '@/models/user.model'
import { validationMixin } from 'vuelidate'
import store from '@/store'
import { USER_TYPES } from '@/models/enums'
import { mapGetters } from 'vuex'

export default {
  name: 'UserFormData',
  data: () => ({
    message: false,
    messageType: 'info',
    loading: false,
    form: {
      name: store.state.auth.user.data.display_name,
      email: store.state.auth.user.data.user_email,
      nickname: store.state.auth.user.meta.nickname,
      phone: store.state.auth.user.meta.phone
    }
  }),
  components: {
    BaseFormInput
  },
  computed: {
    type() {
      return store.state.auth.user.meta.type ? store.state.auth.user.meta.type : USER_TYPES.PACIENTE 
    },
    ...mapGetters({
      namePlaceholder: 'auth/namePlaceholder',
      // form: 'auth/userForm'
    })
  },
  methods: {
    
    resetForm() {
      this.message = false;
      this.form =  {
        name: store.state.auth.user.data.display_name,
        email: store.state.auth.user.data.user_email,
        nickname: store.state.auth.user.meta.nickname,
        phone: store.state.auth.user.meta.phone
      }
    },

    submit() {
      // Prevent resubmit
      if (this.loading) {
        return;
      }

      this.loading = true;
      this.errorMessage = false;
      
      if (this.$v.$invalid) {
        this.$v.form.$touch();
        this.loading = false;
        return;
      }      

      let payload = { meta: {}, ...this.form };
      
      payload.meta.phone = payload.phone
      delete payload.phone

      this.$store.dispatch('auth/userUpdate', payload)
        .then(
          () => {            
            this.loading = false;
            this.message = 'Dados Atualizados com sucesso!';
            this.messageType = 'success';
          },
          error => {
            this.loading = false;
            this.message = 'Oops! Ocoreu um erro, tente novamente mais tarde.';
            this.messageType = 'danger';
          }
        );
    },

    touch(el) {
      if (!el.$dirty) {
        el.$touch();
      }
    },

  },
  validations: {
    form: {
      name : userFormValidation.name,
      email : userFormValidation.email,
      nickname : userFormValidation.nickname,
      phone : userFormValidation.phone,
    }
  },
  mixins: [validationMixin]
}
</script>

<style>

</style>