/* CSS Document */
body{
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size:2rem;
}
.bgCadastro{
	background-image: url(../img/bg-cadastro-azul.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.BarraTopo{
	background-color: #4275d6;
	padding: 50px 0px 30px 100px;
}
.BarraTopoSembg{
	padding: 50px 0px 30px 100px;
}
.caixaBranca{
	background-color:#FFF;
	border-radius: 30px;
	box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.08);
	/*margin:60px 27% 80px 27%;*/
	padding:30px 20px 30px 20px;
}
.caixaBrancaLateral{
	background-color:#FFF;
	border-radius: 0px 30px 30px 0px;
	box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.08);
	margin:10px 0 80px 0;
	padding:40px 10px 30px 10px;
}
.modalBranca{
	border-radius: 30px;
	box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.08);
}
.modalBranca .modal-header{
	border:0px;
}
.modalBranca h1{
	font-size:2.5em;
}
.internas{
	margin:60px 18% 80px 18%;
}
.internas2{
	margin:60px 5% 80px 5%;
}
.boxDashboard{
	margin:0px;
}
h1{
	font-weight: 700;
	font-size:3.4em;
	letter-spacing: -1.5px;
}
h1 span{
	font-weight:900;
	color:rgba(31,31,31,1.00);
}
h2{
	font-size:1.1em;
	font-weight: bold;
	color:#cbcbcb;
	margin:0px 0px 12px 0px;
}
h3{
	color:#919191;
	font-weight: bold;
	font-size:1.5em;
}
h3 small{
	font-size:0.3em;
}
.h1menor{
	font-size: 2.2em;
}
p{
	color:#a1a1a1;
	/* margin:-25px 0px 30px 0px; */
}
.marginH1{
	margin-bottom:35px;
}
label{
	color:#a0a0a0;
}
.form-control{
	border-radius: 3rem;
	border-color:#e6e6e6;
	border-width:2px;
	padding: 0.9rem 1.5rem;
	height: auto;
	font-size:1em;
}
.form-control::placeholder{
	color:#a0a0a0;
}
.custom-select{
	border-radius: 3rem;
	border-color:#e6e6e6;
	border-width:2px;
	padding: 0.9rem 1.5rem;
	height: auto;
}
.btnLaranja{
	border-radius: 3rem;
	padding: 0.9rem 1.9rem 0.9rem 2.9rem;
	background-color: #fb9b02;
	color:#FFF;
	font-size:1.2em;
	margin-top:10px;
}
.btnLaranja:hover{
	color:#FFF;
 	box-shadow: 0px 0px 0px 5px rgba(251, 155, 2, 0.35);
}
.btnLaranja i{
	margin:2px 0px 0px 20px;
}
.btnLaranjaMenor{
	border-radius: 3rem;
	padding: 0.2rem 1.0rem 0.2rem 1.4rem;
	background-color: #fb9b02;
	color:#FFF;
	font-size:1em;
	margin-top:10px;
}
.btnLaranjaMenor:hover{
	color:#FFF;
 	box-shadow: 0px 0px 0px 3px rgba(251, 155, 2, 0.35);
}
.btnLaranjaMenor i{
	margin:2px 0px 0px 12px;
}
.btnAzul{
	background-color:#4275d6;
}
.btnAzul:hover{
	box-shadow: 0px 0px 0px 5px rgba(66, 117, 214, 0.35);
}
.btnCinza{
	background-color:#cdcdcd;
}
.btnCinza:hover{
	box-shadow: 0px 0px 0px 5px rgba(205, 205, 205, 0.35);
}
.btnFacebook{
	background-color:#3b5999;
	padding: 0.9rem 1.9rem 0.9rem 2.0rem;
}
.btnFacebook:hover{
	box-shadow: 0px 0px 0px 5px rgba(59, 89, 153, 0.35);
}
.btnGoogle{
	background-color:#d83b3b;
	padding: 0.9rem 1.9rem 0.9rem 2.0rem;
}
.btnGoogle:hover{
	box-shadow: 0px 0px 0px 5px rgba(216, 59, 59, 0.35);
}
.btnGoogle i, .btnFacebook i{
	margin:2px 20px 0px 0px;
}
.btnFacebook2{
	background-color:#3b5999;
	padding: 0.9rem 1.5rem 0.9rem 1.4rem;
	font-size:1.0em;
	width:100%;
}
.btnFacebook2:hover{
	box-shadow: 0px 0px 0px 5px rgba(59, 89, 153, 0.35);
}
.btnGoogle2{
	background-color:#d83b3b;
	padding: 0.9rem 1.5rem 0.9rem 1.4rem;
	font-size:1.0em;
	width:100%;
}
.btnGoogle2:hover{
	box-shadow: 0px 0px 0px 5px rgba(216, 59, 59, 0.35);
}
.btnGoogle2 i, .btnFacebook2 i{
	margin:2px 13px 0px 0px;
}
.divisorOU{
	border:#dbdbda solid;
	border-width:1px 0px 0px 0px;
	line-height: 1px;
	margin:40px 0px 40px 0px;
}
.divisorOU strong{
	background-color: #FFF;
	padding:0px 20px 0px 20px;
	color:#b0b0b0;
}
.form-group{
	margin-bottom:0.6rem;
}
.smallLink{
	font-size:0.9em;
	font-weight: bold;
}
.smallLink a:link{
	text-decoration: underline;
}
.timeLine{
	border:#ededed solid;
	border-width:2px 0px 0px 0px;
	margin:60px 0px -20px 0px;
}
.timeLine div div{
	background-color:#e8e8e8;
	color:#FFF;
	width:93px;
	padding:12px 0px 12px 0px;
	border-radius: 5rem;
	font-size:2.0em;
	font-weight: bold;
	margin:0 auto;
	border: #f2f2f2 10px solid;
	margin-top: -18%;
}
.timeLine .marcado div{
	background-color: #fb9b02;
}
.timeLine .texto{
	color:#cecece;
}
.timeLine .marcado .texto{
	color:#4c4c4c;
}
.modalCadastro{
	max-width: 480px;
}
.modalYoutubeAdd{
	max-width: 600px;
}
.customCard{
	background:none;
	border:none;
}
.card-title{
	color:#FFF;
	font-weight: bold;
	font-size:1.4em;
}
.card-text{
	color:#d1daf3;
}
.cinza{
	color:#4c4c4c;
}
.cinzaClaro{
	color:#cecece;
}
.azulLink{
	color:#4175d6;
}
.laranjaLink{
	color:#fb9b02;
	text-decoration: underline;
}
.laranjaEspecialista{
	background-color:#fbb100;
}
.laranjaClinica{
	background-color:#fbc900;
}

/* DASHBOARD */
.menuDashboard{
	background-color: #4275d6;
	width:300px;
	z-index: 2;
}
.menuBtn{
	color:#FFF !important;
	font-weight:bold;
	text-align: left;
	border:#3b69c0 solid 1px;
	border-width: 0px 0px 1px 0px;
	padding:18px 0px 18px 40px;
	font-size:0.95em;
}
.menuBtn:hover{
	background-color:#3768c5;
	color:#FFF;

}
.menuBtn.ativo{
	background-color:#6693e8;
}
.menuSair{
	background-color:#3768c5;
	color:#FFF;
	padding:8px;
	font-weight:bold;
	text-align: left;
	padding-left: 25px;
}
.menuSair:hover{
	color:#FFF;
	background-color:#5583da;
}
.topoSair{
	color:#a6a6a6;
	border:2px solid #f1f1f1;
	padding:10px 15px 10px 15px;
	font-size:1em;
}
.topoSair i{
	margin-left:10px;
}
.topoSair:hover{
	color:#606060;
	border-color:#979797;
}
.barraTopoDash{
	background-color:#FFF;
}
.fotoPerfil{
	width:64px;
	height:64px;
	border-radius: 100px;
	border:2px #f1f1f1 solid;
	margin-right:13px;
}
.perfilNomeFuncao{
	color:#a6a6a6;
	font-size:0.95em;
	line-height: 20px;
}
.dashboardContent{
	padding-top:3rem;
}
.dashboardIMGperfil{
	border:3px #f1f1f1 solid;
	border-radius: 100px;
	width:125px;
	height:125px;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.2s;
}
.dashboardIMGperfil:hover{
	color:rgba(0,0,0,3.00)
}
.dashboardIMGperfil i{
	font-size:2.5em;
}
.dashboardIMGperfilLabel{
	background-color: rgba(251,155,0,0.80);
	border-radius: 100px;
	width:119px;
	height:119px;
	opacity:0;
	transition: 0.2s;
	cursor: pointer;
	color:#FFF;
}
.dashboardIMGperfilLabel:hover{
	opacity:1;
}
.dashboardIMGperfilLabel i{
	font-size:2em;
	margin-bottom: 10px;
}
.dashboardIMGperfilLabel p{
	margin:0px;
	color: #FFF;
	font-weight:bold;
}
.estatisticasDashboardHome{
	color:#FFF;
	padding:10px 30px 25px 30px;
	border-radius: 15px;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	background-size:cover;
  	box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.04);
	transition: 0.2s;
}
.estatisticasDashboardHome:hover{
	cursor: pointer;
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);
}
.estatisticasDashboardHome .titulo{
	font-weight:bold;
	font-size: 2em;
}
.estatisticasDashboardHome.e1{
	background-color:#fb9b00;
	background-image:url(../img/bg-estatistica-1.png);
}
.estatisticasDashboardHome.e2{
	background-color:#fbb100;
	background-image:url(../img/bg-estatistica-2.png);
}
.estatisticasDashboardHome.e3{
	background-color:#fbc900;
	background-image:url(../img/bg-estatistica-3.png);
}
.numeroEstatistica{
	font-weight: 300;
	font-size:4.5em;
}
.labelEstatistica{
	font-weight:bold;
	font-size:1em;
}
.bannerAzul{
	background-color:#6598f8;
	padding:45px 0px 45px 70px;
	background-image:url(../img/bg-boxazul.jpg);
}
.bannerAzul p{
	color:#bfd2fc;
	font-size:1.3em;
	margin:0px 0px 10px 0px;
}
.bannerBranco{
	background-color:#FFF;
	padding:45px 0px 45px 70px;
	background-image:url(../img/bg-boxbranco.jpg);
}
.bannerBranco p{
	color:#a6a5a5;
	font-size:1.3em;
	margin:0px 0px 10px 0px;
}
.bannerBranco .titulo{
	color:#545454;
}
.linhaAtualizacoes:hover{
	background-color:#f2f2f2;
	cursor: pointer;
}
.linhaAtualizacoes{
	border-bottom:1px #e5e5e5 solid;
	padding:17px 42px 17px 42px;
	font-size:1.1em;
	transition: 0.2s;
}
.caixaBranca .linhaAtualizacoes:last-child{
	border-radius: 0px 0px 30px 30px;
}
.diaHora{
	color:#a3a3a3;
	font-size:0.9em;
	width:180px;
	text-align: right;
}
.fa-star{
	color:#fbc302;
}
.fa-star.desativado{
	color:#ededed;
}
.fa-envelope{
	color:#6598f8;
}
.bgCinza{
	background-color:#f2f2f2;
	border-radius:20px;
}
.apagarPequeno{
	color:#d64242;
	font-size:1.4em;
}
.barradeBtns{
	border-top:1px solid #ececec; 
	border-radius:0px 0px 20px 20px;
}
.btndaBarra{
	border-radius: 0px 0px 0px 20px;
	padding: 0.5rem 1.3rem 0.5rem 1.9rem;
	background-color: #4275d6;
	color:#FFF !important;
	font-size:1.0em;
}
.btndaBarra:hover{
	background-color:#4a82ed;
}
.btndaBarraVermelho{
	border-radius: 0px 0px 0px 20px;
	padding: 0.5rem 1.3rem 0.5rem 1.9rem;
	background-color: #e10000;
	color:#FFF !important;
	font-size:1.0em;
}
.btndaBarraVermelho:hover{
	background-color:#ff2525;
}
.btndaBarraCinza{
	border-radius: 0px 0px 20px 0px;
	padding: 0.5rem 1.3rem 0.5rem 1.9rem;
	background-color: #dfdfdf;
	color:#4c4c4c !important;
	font-size:1.0em;
}
.btndaBarraCinza:hover{
	background-color:#d4d4d4;
}
.btndaBarra i, .btndaBarraCinza i, .btndaBarraLaranja i, .btndaBarraVermelho i{
	margin:2px 0px 0px 20px;
}
.btndaBarraLaranja{
	border-radius: 0px 0px 20px 0px;
	padding: 0.5rem 1.3rem 0.5rem 1.9rem;
	background-color: #fb9b02;
	color:#FFF!important;
	font-size:1.0em;
}
.btndaBarraLaranja:hover{
	background-color:#ffaa23;
}
.btndaBarraLaranja.l1{
	border-radius: 0px 0px 0px 20px;
}
.adicionarFotoVideo{
	width:175px;
	height:175px;
	border:#c2c2c2 dashed 4px;
	border-radius: 15px;
	float:left;
	margin:0px 19px 19px 0px;
	transition: 0.2s;
	cursor:pointer;
}
.adicionarFotoVideo i{
	font-size:3.5em;
	color: #616161;
	margin-bottom: 10px;
}
.adicionarFotoVideo p{
	margin:0px;
	color: #616161;
	font-weight:bold;
}
.adicionarFotoVideo:hover{
	opacity: 0.7;
}
.tbnGaleria{
	width:175px;
	height:175px;
	background-color:#e8e8e8;
	border-radius: 15px;
	float:left;
	margin:0px 19px 19px 0px;
	background-size:cover;
	background-repeat: none;
}
.adicionarEspecialidade{
	font-size:1.1em;
	text-transform: uppercase;
	color:#8f8f8f;
	font-weight: bold;
	transition: 0.2s;
	cursor: pointer;
}
.adicionarEspecialidade:hover{
	background-color: #f6f6f6;
}
.adicionar{
	color:#4275d6;
	font-size:2em;
	cursor:pointer;
}
.barraSecundaria{
	/*background-color: #FFF;*/
}
.menuBurger{
	font-size:2em;
	cursor: pointer;
}
/* VIEWPORT */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	body{
		font-size:0.8rem;
	}
	.menuDashboard{
	background-color: #4275d6;
	width:0px;
	}
	.estatisticasDashboardHome{
	color:#FFF;
	padding:25px 20px 25px 20px;
	text-align: center;
	}
}
	textarea.form-control{
		height: 150px !important;
		border-radius: 1.5rem;
	}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		font-size:0.9rem;
	}
	.menuDashboard{
		background-color: #4275d6;
		width:0px;
	}
	.caixaBranca{
		background-color:#FFF;
		border-radius: 30px;
		box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.08);
		padding:30px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	body{
		font-size:0.9rem;
	}
	.caixaBranca{
		background-color:#FFF;
		border-radius: 30px;
		box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.08);
		/*margin:60px 27% 80px 27%;*/
		padding:50px;
	}
	.dashboardContent{
		padding:3rem;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	body{
		font-size:0.8rem;
	}
	.caixaBranca{
		background-color:#FFF;
		border-radius: 30px;
		box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.08);
		/*margin:60px 27% 80px 27%;*/
		padding:50px;
	}
	.dashboardContent{
		padding:3rem;
	}
	.caixaBrancaLateral{
	padding:70px;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	body{
		font-size:1rem;
	}
	.caixaBranca{
		background-color:#FFF;
		border-radius: 30px;
		box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.08);
		/*margin:60px 27% 80px 27%;*/
		padding:50px;
	}
	.dashboardContent{
		padding:3rem;
	}
	.caixaBrancaLateral{
	padding:70px;
	}
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.pointer {
	cursor: pointer;
}

/* Form Validation */
/* ----------------------------------------- */
	.form-group.is-invalid input {
		border-color: #ff000073;
	}

	.form-group p {
		padding: 0.5rem 1.5rem;
	}
/* ----------------------------------------- Form Validation */


.loading {
  opacity: .5;
  pointer-events: none;
}

.form-group .error {
	color: red;
	font-size: 12px;
}

.menuDashboard + div.col {
	padding-left: 300px !important;
}

.todo {
	border: 1px solid red !important;
}