<template>

  <div class="view-dashboard h-100">
    
    <div class="d-flex align-items-stretch h-100">
      
      <DashboardSidebar @logout="logout" />

      <div class="col px-0">    

        <DashboardHeader @logout="logout" />   
        <transition name="fade">
          <router-view/>
        </transition>
        
      </div>

    </div>

  </div>
</template>

<script>
import DashboardSidebar from '@/components/DashboardSidebar';
import DashboardHeader from '@/components/DashboardHeader';
import authService from '@/services/auth.service';
import store from '@/store';
import router from '@/router';

export default {
  name: 'Dashboard',
  
  components: {
    DashboardSidebar,
    DashboardHeader
  },

  beforeRouteEnter(to, from , next) {

    if (authService.hasToken()) {
      store.dispatch('auth/fetchUser')
      .then(
        resolve => {          
          if (resolve.onboarding == '') {
            router.push({ name: 'onboarding'});
          } else {
            next()
          }
        },
        error => {
          store.dispatch('auth/logout');
          router.push('/login');
        }
      )
    } else {
      next()
    }
  },

  methods: {
    logout() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/');
    }
  }
}
</script>

<style>

</style>