<template>
  <div class="login-wrapper">
    <BaseHomeHeader />
    <div class="container" :class="{ 'loading': loading }">
      <div class="caixaBranca col-lg-6 col-md-10 col-sm-12 mx-auto my-5">
        <h1 class="cinza text-center marginH1">Entrar</h1>        
        <UserLoginForm @showmodal="showModal = !showModal" />
      </div>
    </div>
    <BaseModalUserType :type="null" :show="showModal" @close="showModal = !showModal" />
  </div>
</template>

<script>
import BaseModalUserType from '@/components/BaseModalUserType.vue'
import BaseHomeHeader from '@/components/BaseHomeHeader.vue'
import UserLoginForm from '@/components/UserLoginForm.vue'

export default {
  name: 'LoginPage',

  data: () => ({
    showModal : false,
    loading : false
  }),

  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },

  mounted() {
    if (this.loggedIn) {
      this.$router.push('/dashboard');
    }
  },

  components: {
    BaseHomeHeader,
    BaseModalUserType,
    UserLoginForm
  }
}
</script>

<style>

</style>