<template>
  <div class="bgCadastro home--clinica">
    <BaseHomeHeader type="BarraTopoSembg" />
    <div class="container-fluid">
      <div class="row">
        <div class="caixaBrancaLateral col">
          <div class="col-md-11 offset-md-1">
            <div class="text-right smallLink mb-5">
              <a href="#" class="azulLink" @click="showModal = !showModal">
                {{type.areYouNot}}
              </a>
            </div>
            <h1 class="cinza marginH1 h1menor">
              Cadastre-se gratuitamente como um <span>{{type.title}}</span>
            </h1>
            <UserRegisterForm :type="currentType" />
          </div>
        </div>
        <div class="col d-none d-sm-none d-md-block">
          <div class="col-md-11 offset-md-1 mt-5">
            <BaseHomeCard v-for="card in cards" :key="card.title" :card="card" />
          </div>
        </div>
      </div>
    </div>
    <BaseModalUserType :type="currentType" :show="showModal" @close="showModal = !showModal" />
  </div>
</template>

<script>
// @ is an alias to /src
import BaseHomeHeader from '@/components/BaseHomeHeader.vue'
import BaseHomeCard from '@/components/BaseHomeCard.vue'
import BaseModalUserType from '@/components/BaseModalUserType.vue'
import UserRegisterForm from '@/components/UserRegisterForm.vue'

export default {
  name: 'RegisterPage',
  data: () => ({
    currentType: 'paciente',
    types : {
      paciente: {
        title: 'paciente',
        areYouNot: 'Não é paciente?',
        hasSocialLogin : true,
      },
      profissional : {
        title: 'profissional de saúde',
        areYouNot: 'Não é um profissional?',
      },
      estabelecimento : {
        title: 'estabelecimento de saúde',
        areYouNot: 'Não é um estabelecimento?',
      }
    },
    cards : [
      { title: '50.000 visitantes por mês', desc: 'Lorem ipsum dolor sit amet, consectetur sit amet ipsum dolor' },
      { title: 'Atinja novos pacientes', desc: 'Lorem ipsum dolor sit amet, consectetur sit amet ipsum dolor' },
      { title: '50% de novos contatos', desc: 'Lorem ipsum dolor sit amet, consectetur sit amet ipsum dolor' },
    ],
    showModal : false
  }),

  computed: {
    type: function() {      
      return this.types[this.currentType] ? this.types[this.currentType] : this.types.paciente
    }
  },
  mounted: function() {
    this.currentType = this.$route.params.type;
  },
  watch: {
    $route(to, from) {
      this.currentType = to.params.type;
    }
  },
  components: {
    BaseHomeHeader, 
    BaseHomeCard,
    BaseModalUserType,
    UserRegisterForm
  }
}
</script>
